workflow-export/PDF embedding.json
{
  "name": "PDF embedding",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Nm2i3c52mPpf1X_v0Lz_eacILjIYC5rq",
          "mode": "list",
          "cachedResultName": "stuff",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Nm2i3c52mPpf1X_v0Lz_eacILjIYC5rq"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "cc328d29-5a2a-4000-b765-3c7c1fdb34f5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rOQJmG8IfqGk34l4",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "b2f5efc3-af48-4a7f-9487-d7701165d7ca",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rOQJmG8IfqGk34l4",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "0e08b6ee-91a8-4056-b23e-4db35847c8f4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d298e7b5-80e6-4a9e-898c-2b7555c17ed4",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "0e75e394-44f1-48ad-89b1-6c12eccc5c93",
              "name": "metadata",
              "value": "={{ $json.metadata }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        0
      ],
      "id": "7cd74efa-4759-4eb2-82f9-911c25185825",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "knowledge_base",
          "mode": "list",
          "cachedResultName": "knowledge_base"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        816,
        0
      ],
      "id": "153091ab-16f3-4050-a54f-5fc43addb6aa",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "woB7ZuqSc2cYXnYG",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        208
      ],
      "id": "3a501922-d6fa-43af-922e-134b6f95eef6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "011BtotL4RPFwC4H",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        960,
        208
      ],
      "id": "47bef86d-8e23-4698-aeca-7b9125dfbc39",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1056,
        416
      ],
      "id": "39788c13-613f-4b52-9430-28a3863cdf8a",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "88808222-0a0b-42b8-927b-0691bc97a740",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "babbf5cb1f81f0395b8abd59d440ffac264dfb7ba90dde85fa0428d3e61c8af5"
  },
  "id": "MaYtKPNLjSfgIC3B",
  "tags": []
}