workflow-export/Research agent_v4.json
{
  "name": "Research agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1448,
        408
      ],
      "id": "ba196300-d870-484f-b7f3-342608009f4f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "011BtotL4RPFwC4H",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }} ||  {{ $json.body.question }}",
        "options": {
          "systemMessage": "You are an AI business research assistant. Analyze this topic: {{topic}}\nProvide:\n1. Summary\n2. Key insights\n3. Risks\n4.Opportunities"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1440,
        184
      ],
      "id": "5ff3b380-3406-4dee-9cc1-05b7e9a413f5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sTrPEVZPfrt6XO8vjNniiYS5bzrxwn1KHEq93KUEcs0",
          "mode": "list",
          "cachedResultName": "AI Research reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sTrPEVZPfrt6XO8vjNniiYS5bzrxwn1KHEq93KUEcs0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sTrPEVZPfrt6XO8vjNniiYS5bzrxwn1KHEq93KUEcs0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Topic', ``, 'string') }}",
            "Summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}",
            "Key Insights": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Key_Insights', ``, 'string') }}",
            "Risks": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Risks', ``, 'string') }}",
            "Opportunities": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Opportunities', ``, 'string') }}",
            "Timestamp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timestamp', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Key Insights",
              "displayName": "Key Insights",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Risks",
              "displayName": "Risks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Opportunities",
              "displayName": "Opportunities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1576,
        408
      ],
      "id": "556943c2-f11a-44c4-b07a-84db98aa166b",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s2Pt7WZcc6BSPFpM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        -16
      ],
      "id": "8d381091-1035-46e6-a3e3-3737e6c7d8ed",
      "name": "Telegram Trigger",
      "webhookId": "a73cdcdf-6605-484f-8099-55224048aef0",
      "credentials": {
        "telegramApi": {
          "id": "Qx6xQfH6OTfnxJtu",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1736182817",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        -16
      ],
      "id": "5b6c8daa-0fb9-46de-bc99-0ee7c7237b6e",
      "name": "Send a text message",
      "webhookId": "201ebc03-1646-47e3-9bca-819d6e1b38da",
      "credentials": {
        "telegramApi": {
          "id": "Qx6xQfH6OTfnxJtu",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a40d9169-0daf-4a98-af5b-aa4bf84e5e86",
              "leftValue": "={{ $json.message.text }} || {{ $json.body.question }}",
              "rightValue": ".*(paper|papers|study|studies|arxiv|publication|journal|academic).*",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        -16
      ],
      "id": "6d9860e2-6756-4bcc-87d3-b1e1ab3a5d5a",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://api.semanticscholar.org/graph/v1/paper/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.message.text }} || {{ $json.body.question }}"
            },
            {
              "name": "limit",
              "value": "3"
            },
            {
              "name": "fields",
              "value": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -216
      ],
      "id": "7d4c87a9-5ac2-4b65-9999-7aa39122e767",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "m2Ay4lCwuy8kxL1H",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this research paper information and explain it simply: {{ JSON.stringify($json)}}",
        "options": {
          "systemMessage": "You are an AI research assistant.\n\nAnalyze the provided research paper information and respond in this format:\n\n📄 Paper Title:\n🔍 Summary:\n💡 Main Contribution:\n📊 Key Findings:\n🚀 Applications:\n\nKeep explanations concise and easy to understand."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1440,
        -320
      ],
      "id": "a9dcfcab-5a77-4df2-9429-2157b320df08",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "url": "=https://api.semanticscholar.org/graph/v1/paper/{{ $json.data[0].paperId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "title,abstract,year"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -216
      ],
      "id": "88dfd2de-13c3-4619-b1af-f5c832db5102",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "m2Ay4lCwuy8kxL1H",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1448,
        -96
      ],
      "id": "87312cd3-40b2-469b-b7b2-9624b8bb5f6d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "011BtotL4RPFwC4H",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sTrPEVZPfrt6XO8vjNniiYS5bzrxwn1KHEq93KUEcs0",
          "mode": "list",
          "cachedResultName": "AI Research reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sTrPEVZPfrt6XO8vjNniiYS5bzrxwn1KHEq93KUEcs0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sTrPEVZPfrt6XO8vjNniiYS5bzrxwn1KHEq93KUEcs0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Topic', ``, 'string') }}",
            "Summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}",
            "Key Insights": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Key_Insights', ``, 'string') }}",
            "Risks": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Risks', ``, 'string') }}",
            "Opportunities": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Opportunities', ``, 'string') }}",
            "Timestamp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timestamp', ``, 'string') }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Insights",
              "displayName": "Key Insights",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risks",
              "displayName": "Risks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opportunities",
              "displayName": "Opportunities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1576,
        -96
      ],
      "id": "94fb6b2a-d3c3-4f38-bd90-4df4e06049a1",
      "name": "Append row in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s2Pt7WZcc6BSPFpM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ffa8de-7cc5-41f5-8b10-16c58e3760f7",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "4bbcf841-e2f3-4475-8765-2f6ce8901e39",
              "name": "abstract",
              "value": "={{ $json.abstract }}",
              "type": "string"
            },
            {
              "id": "924b188d-1ce8-4222-a19c-c8f97a98247f",
              "name": "year",
              "value": "={{ $json.year }}",
              "type": "number"
            },
            {
              "id": "09521c4a-a520-4f87-afba-37ad75ad5cda",
              "name": "authors",
              "value": "={{ $json.authors.map(a=>a.name).join(',') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -216
      ],
      "id": "f2b90f4e-3b80-4eb2-b9c0-33e690df0856",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1096,
        8
      ],
      "id": "2fea2dd3-c2b5-4caf-9d06-71420a3c645e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "011BtotL4RPFwC4H",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "knowledge_base",
          "mode": "list",
          "cachedResultName": "knowledge_base"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1088,
        -216
      ],
      "id": "3e94de44-fb67-4f98-814e-35ac37664577",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "woB7ZuqSc2cYXnYG",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1224,
        8
      ],
      "id": "d2e504c5-0565-43f0-a549-4f633e517d04",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2209f73a-dd91-4fbe-a701-8c29586f66ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "babbf5cb1f81f0395b8abd59d440ffac264dfb7ba90dde85fa0428d3e61c8af5"
  },
  "id": "7v8qfeTFNTxNgcBy",
  "tags": []
}