workflow-export/research-agent-voice-enabled.json
{
  "name": "Research agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        904,
        728
      ],
      "id": "ba196300-d870-484f-b7f3-342608009f4f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "011BtotL4RPFwC4H",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }} ||  {{ $json.body.question }}",
        "options": {
          "systemMessage": "You are an AI business research assistant. Analyze this topic: {{topic}}\nProvide:\n1. Summary\n2. Key insights\n3. Risks\n4.Opportunities"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        504
      ],
      "id": "5ff3b380-3406-4dee-9cc1-05b7e9a413f5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sTrPEVZPfrt6XO8vjNniiYS5bzrxwn1KHEq93KUEcs0",
          "mode": "list",
          "cachedResultName": "AI Research reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sTrPEVZPfrt6XO8vjNniiYS5bzrxwn1KHEq93KUEcs0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sTrPEVZPfrt6XO8vjNniiYS5bzrxwn1KHEq93KUEcs0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Topic', ``, 'string') }}",
            "Summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}",
            "Key Insights": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Key_Insights', ``, 'string') }}",
            "Risks": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Risks', ``, 'string') }}",
            "Opportunities": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Opportunities', ``, 'string') }}",
            "Timestamp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timestamp', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Key Insights",
              "displayName": "Key Insights",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Risks",
              "displayName": "Risks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Opportunities",
              "displayName": "Opportunities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1032,
        728
      ],
      "id": "556943c2-f11a-44c4-b07a-84db98aa166b",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s2Pt7WZcc6BSPFpM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        208
      ],
      "id": "8d381091-1035-46e6-a3e3-3737e6c7d8ed",
      "name": "Telegram Trigger",
      "webhookId": "a73cdcdf-6605-484f-8099-55224048aef0",
      "credentials": {
        "telegramApi": {
          "id": "Qx6xQfH6OTfnxJtu",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1736182817",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        152
      ],
      "id": "5b6c8daa-0fb9-46de-bc99-0ee7c7237b6e",
      "name": "Send a text message",
      "webhookId": "201ebc03-1646-47e3-9bca-819d6e1b38da",
      "credentials": {
        "telegramApi": {
          "id": "Qx6xQfH6OTfnxJtu",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a40d9169-0daf-4a98-af5b-aa4bf84e5e86",
              "leftValue": "={{ $json.message.text }} || {{ $json.body.question }}",
              "rightValue": ".*(paper|papers|study|studies|arxiv|publication|journal|academic).*",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        304
      ],
      "id": "6d9860e2-6756-4bcc-87d3-b1e1ab3a5d5a",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://api.semanticscholar.org/graph/v1/paper/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "limit",
              "value": "3"
            },
            {
              "name": "fields",
              "value": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        104
      ],
      "id": "7d4c87a9-5ac2-4b65-9999-7aa39122e767",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "m2Ay4lCwuy8kxL1H",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this research paper information and explain it simply: {{ JSON.stringify($json)}}",
        "options": {
          "systemMessage": "You are an AI research assistant.\n\nAnalyze the provided research paper information and respond in this format:\n\n📄 Paper Title:\n🔍 Summary:\n💡 Main Contribution:\n📊 Key Findings:\n🚀 Applications:\n\nKeep explanations concise and easy to understand."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        0
      ],
      "id": "a9dcfcab-5a77-4df2-9429-2157b320df08",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "url": "=https://api.semanticscholar.org/graph/v1/paper/{{ $json.data[0].paperId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "title,abstract,year"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        104
      ],
      "id": "88dfd2de-13c3-4619-b1af-f5c832db5102",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "m2Ay4lCwuy8kxL1H",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        904,
        224
      ],
      "id": "87312cd3-40b2-469b-b7b2-9624b8bb5f6d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "011BtotL4RPFwC4H",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sTrPEVZPfrt6XO8vjNniiYS5bzrxwn1KHEq93KUEcs0",
          "mode": "list",
          "cachedResultName": "AI Research reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sTrPEVZPfrt6XO8vjNniiYS5bzrxwn1KHEq93KUEcs0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sTrPEVZPfrt6XO8vjNniiYS5bzrxwn1KHEq93KUEcs0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Topic', ``, 'string') }}",
            "Summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}",
            "Key Insights": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Key_Insights', ``, 'string') }}",
            "Risks": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Risks', ``, 'string') }}",
            "Opportunities": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Opportunities', ``, 'string') }}",
            "Timestamp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timestamp', ``, 'string') }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Insights",
              "displayName": "Key Insights",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risks",
              "displayName": "Risks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opportunities",
              "displayName": "Opportunities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1032,
        224
      ],
      "id": "94fb6b2a-d3c3-4f38-bd90-4df4e06049a1",
      "name": "Append row in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s2Pt7WZcc6BSPFpM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aae51292-5312-470b-8d4c-b85307308291",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        400
      ],
      "id": "6545ee8f-9883-4561-9ae2-8d4917389817",
      "name": "Webhook",
      "webhookId": "aae51292-5312-470b-8d4c-b85307308291"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1248,
        456
      ],
      "id": "fd60b63d-10cc-4a4a-b825-39a51a52ce36",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "82ca66de-d06b-445a-bfb0-4ee20a8ee56b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "babbf5cb1f81f0395b8abd59d440ffac264dfb7ba90dde85fa0428d3e61c8af5"
  },
  "id": "7v8qfeTFNTxNgcBy",
  "tags": []
}